$black: #000;
$white: #fff;
$snow: #fbfbfb;
$smoke:#f8f8f8;

// text colors
$text-color-light-grey: #939598;
$text-color-light-blue:  #6ad0f1;
$grey: #707070;
$green: #00b963;
$red: #cd1c00;

// backgrounds colors
$header: #2086b6;
$white-smoke:#eeeeee;
$yellow: #ffc900;
